<!doctype html>
<html ng-app>
	<head>
		<script src="angular.js" ></script>
	</head>
	<body>
		<div ng-controller="InvoiceCntl">
			<table>
				<caption>{{greet.text}}</caption>
				<tr>
					<td>Quantity</td>
					<td>Cost</td>
				</tr>
				<tr>
					<td><input type="integer" min="0" ng-model="qty" required /></td>
					<td><input type="number" ng-model="cost" required /></td>
				</tr>
				<tr>
					<td cols="2"><b>Total:</b>{{qty*cost | currency}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>
<script>
	var t="liuzhijun";
	function InvoiceCntl($scope){
		$scope.qty=1;
		$scope.cost=19.93;
		$scope.currency=19.93;
		$scope.greet = {text:'liuzhijun'};
	}
</script>
