
/*网页样式重置reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*统一样式*/
html { width: 100%; height: 100%; }
body { margin:0 auto; width:640px; background:#fff; font-family:"microsoft yahei";height: 100%;}
/*分享弹出层*/
.poupGameStart{ display:block;width:100%;z-index:99999}
.arrowCont{background:url(../img/arrowCont.png) center 0 no-repeat; background-size:auto 492px;-webkit-background-size:auto 492px;width:264px; height:492px; position:absolute;clear:both;right:84px;}
#poupGameStart{ padding:10px 10px; text-align:center}
.poupTxt{position:absolute;clear:both;background:url(../img/shareTxt.png) center 0 no-repeat; background-size:auto 119px; height:119px; width:640px;left:0;top:560px;}

.pageBox{background:url(../img/bg1.jpg) no-repeat;background-size: cover;overflow: hidden;width: 100%; height: 100%;}
.page{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	opacity: 0
}
.index {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);
}
.main {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);
}
.list {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);
}
.page-opacity1 {
	opacity: 0;
	-webkit-animation: opacity1 .6s linear both
}

.page-opacity0 {
	-webkit-animation: opacity0 .6s linear both
}

.mainBox{ position:absolute;top:90px;left:50%;margin:0 0 0 -175px;width: 350px;height:350px;}
.mainBox .circle1{
	background-color: rgba(255,255,255,.25);
	height: 100%;
	width: 100%;
	border-radius: 175px;
	-webkit-animation: indexcircle 2s linear infinite;
	opacity: 0
}
.mainBox .circle2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -155px 0 0 -155px;
	height: 310px;
	width: 310px;
	background-color: rgba(255,255,255,.5);
	border-radius: 155px;
	-webkit-animation: indexcircle 2s linear infinite;
	opacity: 0
}
.mainBox .circle3{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -140px 0 0 -140px;
	height: 280px;
	width: 280px;
	background-color: #fff;
	border-radius: 140px;
	text-align: center
}
.mainBox .circle3 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -115px;
	width: 230px;
	height: 151px
}
.textBox{
	position: absolute;
	margin-top: 500px;
	text-align: center;
	width: 100%
}
.logoBox{
	position: absolute;
	bottom: 80px;
	text-align: center;
	width: 100%
}
.backBtn {
	padding: 26px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
}
.backBtn span {
	display: inline-block;
	height: 53px;
	width: 52px;
	background-size: 100% 100%;
	background: url(../img/backBtn.png) no-repeat;
}
.main .listBox{
padding-top:260px;
}
.main .listBox ul{
	position: relative;
	z-index: 1000;
}
.main .listBox ul li{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	position: absolute;
	left: 50%;
	margin-left: -52px;
	-webkit-transition-duration: .5s
}

.main .listBox ul li .conBox{
	-webkit-transform: scale(0);
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear
}
.main .listBox ul li.init .conBox{
	-webkit-transform: scale(1);
}
.main .listBox ul li .txt{
	margin-top: 10px;
	display: block;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.main .listBox ul li .icon{
	display: block;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	height: 94px;
	width: 94px;
	border-radius: 47px;
	background-repeat: no-repeat;
	background-image: url(../img/page2/listMenu.png);
}
.main .listBox ul li.init:nth-child(1){
	-webkit-transform:translate3d(0,-165px,0);
}
.main .listBox ul li.init:nth-child(2){
	-webkit-transform:translate3d(140px,-120px,0);
}
.main .listBox ul li.init:nth-child(3){
	-webkit-transform:translate3d(228px,-8px,0);
}
.main .listBox ul li.init:nth-child(4){
	-webkit-transform:translate3d(228px,138px,0);
}
.main .listBox ul li.init:nth-child(5){
	-webkit-transform:translate3d(140px,260px,0);
}
.main .listBox ul li.init:nth-child(6){
	-webkit-transform:translate3d(0,305px,0);
}
.main .listBox ul li.init:nth-child(7){
	-webkit-transform:translate3d(-140px,260px,0);
}
.main .listBox ul li.init:nth-child(8){
	-webkit-transform:translate3d(-218px,138px,0);
}
.main .listBox ul li.init:nth-child(9){
	-webkit-transform:translate3d(-218px,-8px,0);
}
.main .listBox ul li.init:nth-child(10){
	-webkit-transform:translate3d(-140px,-120px,0);
}
.main .listBox ul li.init:nth-child(1) .icon{
	background-position: -2px 0;
	background-color:#ff6d34;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}
.main .listBox ul li.init:nth-child(2) .icon{
	background-position: -2px -100px;
	background-color:#ffb134;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}
.main .listBox ul li.init:nth-child(3) .icon{
	background-position: -2px -200px;
	background-color:#c9de2c;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}
.main .listBox ul li.init:nth-child(4) .icon{
	background-position: -2px -300px;
	background-color:#5ce32d;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 4s;
	animation-delay: 4s
}
.main .listBox ul li.init:nth-child(5) .icon{
	background-position: -2px -400px;
	background-color:#2de36d;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 5s;
	animation-delay: 5s
}
.main .listBox ul li.init:nth-child(6) .icon{
	background-position: -2px -500px;
	background-color:#2de3ad;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 6s;
	animation-delay: 6s
}
.main .listBox ul li.init:nth-child(7) .icon{
	background-position: -2px -600px;
	background-color:#2de3e1;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 7s;
	animation-delay: 7s
}
.main .listBox ul li.init:nth-child(8) .icon{
	background-position: -2px -700px;
	background-color:#338eff;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 8s;
	animation-delay: 8s
}
.main .listBox ul li.init:nth-child(9) .icon{
	background-position: -2px -800px;
	background-color:#3399ff;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 9s;
	animation-delay: 9s
}
.main .listBox ul li.init:nth-child(10) .icon{
	background-position: -2px -900px;
	background-color:#33c8ff;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: 10s;
	animation-delay: 10s
}
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}
.transition1 {
	-webkit-transition-property: none;
	-webkit-transition-duration: .5s
}
.main .listBox h3{margin-top: 50px;opacity: 0;text-align:center;}
.main .listBox h3.active{opacity: 1;}
.active{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}
.btnBox{position: absolute;width: 100%;text-align: center;bottom: 30px;opacity: 0;z-index: 2;}
.btnBox.active{
	opacity: 1;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay:1s;
	transition-delay:1s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}
.btnBox a{
	display: inline-block;
	color: #fff;
	width: 240px;
	box-sizing: border-box;
	text-align: center;
	height: 64px;
	line-height: 64px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 15px
}
.btnBox a.share{background-color: #de6262;}
.btnBox a.goHaier{background-color: #3cb3ff;}
.btnBox a .icon{background: url(../img/page2/shareIcon.png) no-repeat;width: 33px;height: 38px;display: inline-block;vertical-align: middle;margin-right: 16px;}
.btnBox a.share .icon{background-position: 0 0; margin-top: -10px}
.btnBox a.goHaier .icon{background-position: 0 -50px;}
.list .desBox{
	position: absolute;
	z-index: 1;
	width: 100%;
	box-size:border-box;
	-webkit-box-size:border-box;
	left: 0;
	bottom: 0;
	padding: 20px 20px 120px 20px;
	background-color: rgba(0,0,0,.6);
	color: #fff;
}
.list .desBox h3{font-size: 36px;line-height: 46px;font-weight: normal;}
.list .desBox p{font-size: 28px;line-height: 40px;padding-right: 93px;}
.list .desBox .detailsLink{position: absolute;right: 40px;bottom: 120px;display: inline-block;font-size: 28px;color: #fff;text-decoration: none;}
.list .cardBox{
	margin: 164px auto 0;
	width: 500px;
	height: 348px;
	position: relative
}
.list .cardBox .cardList {
	-webkit-transform-origin: center center;
	width: 500px;
	height: 348px
}
.list .cardBox .cardList .card {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 348px;
	border-radius: 10px;
	overflow: hidden
}
.list .cardBox .cardList .card img {
	width: 100%;
	height: 100%
}
.list .cardBox .cardList .card:nth-child(1) {
	background-color: rgba(126,182,252,.6);
	z-index: 1000
}

.list .cardBox .cardList .card:nth-child(2) {
	background-color: rgba(163,200,238,.6);
	z-index: 999
}

.list .cardBox .cardList .card:nth-child(3) {
	background-color: rgba(60,179,255,.6);
	z-index: 998
}

.list .cardBox .cardList .card:nth-child(4) {
	background-color: rgba(158,214,79,.6);
	z-index: 997
}

.list .cardBox .cardList .card:nth-child(5) {
	background-color: rgba(195,211,43,.6);
	z-index: 996
}

.list .cardBox .cardList .card:nth-child(6) {
	background-color: rgba(249,214,2,.6);
	z-index: 995
}

.list .cardBox .cardList .card:nth-child(7) {
	background-color: rgba(252,175,61,.6);
	z-index: 994
}

.list .cardBox .cardList .card:nth-child(8) {
	background-color: rgba(245,120,45,.6);
	z-index: 993
}

.list .cardBox .cardList .card:nth-child(9) {
	background-color: rgba(249,118,118,.6);
	z-index: 992
}
.list .cardBox .cardList .card:nth-child(10) {
	background-color: rgba(222,98,98,.75);
	z-index: 991
}

.list .cardBox .cardList .animation{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

