.fullWin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.JunDialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.JunDialog > div {
  position: absolute;
}
.JunDialog .JD_inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.JunDialog .JD_inner .JD_title {
  font-weight: bold;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: #e0e0e0;
  border-bottom: 1px solid #cbcbcb;
}
.JunDialog .JD_inner .JD_body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 41px;
  background-color: rgba(224, 224, 224, 0.4);
  border-top: 1px solid #ffffff;
}
.JunDialog .JD_cmd {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 20px;
  overflow: hidden;
}
.JunDialog .JD_cmd .JD_cmd_close {
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  border-radius: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpi/P//PwM1ABMDlcAQMMjExOQ/COPSgEueCZ8GYsRwGnTmzBlGbBqR2chqYIARV/Tjsh2bIXi9hk0DLkPoE/0UBza2gMUVAQTTEbYwIWQY1QKbcTT3EwQAAQYAGiY7hYwmDnAAAAAASUVORK5CYII=) no-repeat center center;
}
.JunDialog .JD_cmd .JD_cmd_close:hover {
  background-color: #ed6403;
}
.JD_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  filter: alpha(opacity=20);
  opacity: 0.2;
  background: #000000;
}
