/*!
 * [代码说明]
 *
 * Copyright 2010, Cleeki, Inc.
 * All rights reserved
 *
 * 版权所有 未经许可不得传播
 */
.picker{position:absolute;width:263px;height:164px;overflow:hidden;background:#F0F0F0;color:#000;font:12px Courier New;z-index:1000000;cursor:default;border:solid 1px gray;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.6);-moz-box-shadow:0 0 5px rgba(0,0,0,0.6);}
.picker *{list-style:none;margin:0;padding:0;border:0;}
.picker input{width:38px;height:16px;font:12px Arial;border:solid 1px gray;border-color:#aaa #fff #fff #aaa;background:#fff url(picker.png) -67px -151px;outline:none;}
.picker dl{border:solid 1px #aaa;border-color:#aaa #fff #fff #aaa;}
.picker dd{border:solid 1px #000;}
.picker .k0{position:absolute;left:162px;top:2px;}
.picker .k0 div{width:31px;height:11px;background:url(picker.png) -11px -150px;}
.picker .k1{position:absolute;left:5px;top:5px;overflow:hidden;background:url(picker.png) -163px 2px;}
.picker .k1 div{position:relative;width:150px;height:150px;overflow:hidden;}
.picker .k1 a{display:block;width:150px;height:150px;background-image:url(picker.png);overflow:hidden;}
.picker .k1 b{display:block;position:absolute;width:11px;height:11px;background:url(picker.png) 0 -150px;}
.picker .k1 u{display:block;position:absolute;left:1px;top:1px;width:150px;height:150px;}
.picker .k2{position:absolute;left:168px;top:5px;}
.picker .k2 div{width:15px;height:150px;background-image:url(picker.png);background-position:-150px 0;}
.picker .k3{position:absolute;left:195px;top:5px;background-image:url(picker.png);background-position:-166px 0;}
.picker .k3 div{position:relative;width:58px;height:29px;}
.picker .k3 div *{display:block;position:absolute;left:0;top:0;width:29px;height:29px;}
.picker .k3 b{left:29px;}
.picker .k3 i{width:9px;height:9px;background:url(picker.png) -150px -150px;;cursor:pointer;}
.picker .k4{position:absolute;left:195px;top:47px;}
.picker .k4 li{position:relative;margin:2px;}
.picker .k4 dd,.picker .k5 dd{border:solid 1px #fff;border-color:#fff #aaa #aaa #fff;}
.picker .k5{position:absolute;left:195px;top:139px;}
.picker .k5 input{width:59px;background:#fff;}
