@charset "utf-8";
/* CSS Document */
body,p,form {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑",Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h3 {
	padding: 0;
	margin: 0;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

/* 清除浮动  */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.fl {
	float: left;
}

.fr {
	float: right;
}
.none {
	display: none;
}
/* 头部样式 */
.headerWrap {
	/*
	margin-top: 148px;
	*/
	background: #000;	
}
.header {
	width: 1000px;
	height: 82px;
	margin: 0 auto;
	color: #fdf39a;
	background: #000;	
}
.logoWrap {
	float: left;
	width: 245px;
	padding: 10px 10px 0;	
}
.logoWrap .logoTitle {
	float: left;
	padding: 8px 10px;	
}
.logoWrap p {
	font-size: 18px;
}
.logoWrap p.chineTitle {
	letter-spacing: 2px;
	font-size: 22px;
}
.menuWrap {
	float: left;
	width: 735px;
	padding: 35px 0 5px 0;
	text-align: center;
	position:relative;
}
.menuList {
	width: 380px;
	margin: 0 auto;	
}
.menuList li {
	position: relative;
	float: left;
	padding: 8px 15px;
}
.menuList li a {
	font-weight: bold;
	font-size: 15px;
	color: #fff;		
}
.menuList p.triangleIcon {
	position: absolute;
	display: block;
	width: 19px;
	height: 5px;
	left: 18px;
	top: 48px;
	background: url(../images/triangle.jpg) no-repeat;
}
.secMenuWrapper {
	margin-top: 5px;
	background: #f0f0f0;
	display:none;
}
.secMenuWrap {
	width: 1000px;
	height: 33px;
	margin: 0 auto;
	background: #f0f0f0;	
}
.secMenuList li {
	float: left;
	font-size: 18px;
	line-height: 33px;	
}
.secMenuList li a {
	padding: 0 20px;
	color: #a5a6a6;	
}
.secMenuList li.current,
.secMenuList li.current a {
	color: #b10202;
}
/* 头部样式END */
/* 内容样式 */
.imgWrap {
	height: 418px;
}
.slideBox {
	position: relative;	
	height: 418px;
	overflow: hidden;
}
.slideBox .hd {
	position: absolute;
	width: 580px;
	bottom: 0;
	left: 50%;
	margin-left: -290px;
	z-index: 1000;
}
.slideBox .bd {
	position: relative;
	height: 100%;	
}
.slideBox .bd .margin1 {
	text-align: center;	
}
.slideBox .hd ul li {
	float: left;
	background: #fdfdfd;
	padding: 10px 10px 0 10px;	
	height: 60px;
}
.slideBox .hd li .imgPage1 {
	background: url(../images/marginPage1.jpg) no-repeat;	
}
.slideBox .hd li .imgPage2 {
	background: url(../images/marginPage2.jpg) no-repeat;	
}
.slideBox .hd li .imgPage3 {
	background: url(../images/marginPage3.jpg) no-repeat;	
}
.slideBox .hd li .imgPage4 {
	background: url(../images/marginPage4.jpg) no-repeat;	
}
.slideBox .hd li a {
	display: inline-block;
	width: 125px;
	height: 60px;
	background: url(../images/grayBg.png) no-repeat;
}
.slideBox .hd li.on a {
	background: none;	
}
.content {
	width: 1000px;
	margin: 10px auto;
	color: #333;
}
.adWrap {
	padding: 0 10px;	
}
.bigSpan {
	font-family: "黑体";
	font-size: 34px;
	font-weight: bold;
	letter-spacing: 2px;
}
.greenSpan {
	margin: 0 20px;
	font-family: "黑体";
	font-size: 24px;
	font-weight: bold;
	color: #89bb00;
}
p.ad {
	font-weight: bold;
	line-height: 65px;
	font-size: 16px;
	text-align:center;
}
.flowWrap {
	float: left;
	width: 200px;
	text-align: center;	
}
.flowWrap .title {
	height: 102px;
	line-height: 102px;
	padding-bottom: 15px;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: bold;
	background: url(../images/flowImg_2.png) center 0 no-repeat;	
	cursor:pointer;
}
.flowWrap.current .title {
	color: #fff;
	background: url(../images/flowImg.png) center 0 no-repeat;	
}
.flowWrap.current p {
	color: #087508;
}
.flowWrap p {
	text-align: left;
	padding-left: 70px;	
	font-weight: bold;
	line-height: 20px;
}
.bigSpan2 {
	padding-left: 10px;
	font-size: 32px;
	font-weight: 900;
	font-family: "黑体";	
}
.newProducts {
	padding: 10px 0;	
}
.newProductList li {
	float: left;
	width: 244px;
	height: 174px;
	margin-right: 8px;
	background: #ede3e2;	
}

.newProductList li a {
	padding-left: 20px;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #333;
}
/* 图片轮播效果 */
.picScroll-left {
	position: relative;
	width: 1000px;
	height: 174px;
}
.picScroll-left .bd {
	position: relative;
	height: 100%;
	z-index: 0;
}
.picScroll-left .hd {
	position: absolute;
	display: none;
	width: 1000px;
	height: 15px;
	right: 5px;
	bottom: 10px;
	overflow: hidden;
	z-index: 1;
}
.picScroll-left .prev,
.picScroll-left .next {
	position: absolute;
	display: block;
	width: 27px;
	height: 27px;
	left: -27px;
	top: 0;
	background: url(../images/preIcon.jpg) no-repeat;
}
.picScroll-left .next {
	background: url(../images/nextIcon.jpg) no-repeat;;
	left: auto;
	right: -27px;
}
/* 图片轮播效果END */
/* 内容样式END */
/* 底部样式 */
.footerWrapper {
	background: #efefef;
	padding: 10px 0 30px;	
}
.footer {
	width: 1000px;
	margin: 0 auto;
	background: #efefef;	
}
.footerWrapper hr {
	color: #a2a2a2;
	border: 1px solid #A2A2A2;
}
.footList {
	float: left;
	width: 500px;
}
.foot_con {
	float: left;
	width: 240px;
	margin: 0 5px;
	color: #999;
}
.foot_con .title {
	line-height: 30px;
	font-weight: bold;
	border-bottom: 1px solid #9fa0a0;
}
.footCon_list {
	padding: 10px 0;
}
.footCon_list a {
	display: block;
	color: #999;
	padding: 0 5px;
	line-height: 20px;
}
.join_con .footCon_list a {
	padding-left: 20px;	
}
.join_con .footCon_list a.titleCon {
	padding-left: 5px;	
}
.footCon_list a.qqLink,
.footCon_list a.weiboLink {
	float: left;
	width: 52px;
	height: 20px;
	margin: 0 20px 0 10px;
	text-align: center;
	padding-top: 50px;
	background: url(../images/contactIcon_2.jpg) no-repeat;	
}
.footCon_list a.weiboLink {
	background: url(../images/contactIcon.jpg) no-repeat;	
}
.footCon_list a.weixinLink {
	float: left;
	width: 138px;
	height: 20px;
	padding-top: 140px;
	margin-top: 10px;
	text-align: center;
	background: url(../images/ewmIcon.jpg) no-repeat;	
}
.footer p {
	color: #999;
	line-height: 22px;	
}
/* 底部样式END */

/*后加样式 Start */
.menuList li.current{
	background-color:#A5A0A8;
	border-radius:6px;
}
.menuList li.current a{
	color:#000;
}
.menuWrap div.menuTarget{
	position:absolute;
	left:200px;
	width:0px;
	height:0px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:0;
	border-bottom:10px solid red;
}
