<!-- 底部区域 -->
<div class="footerWrapper">
	<div class="footer clearfix">
		<div class="footList clearfix">
		  <div class="foot_con">
			  <p class="title">关于我们</p>
			  <div class="footCon_list">
				  <a href="javascript:void(0);">简介</a>
				  <a href="javascript:void(0);">服务理念</a>
				  <a href="javascript:void(0);">我们的主张</a>
				  <a href="javascript:void(0);">文化</a>
			  </div>
		  </div>
		  <div class="foot_con">
			  <p class="title">案例</p>
			  <div class="footCon_list">
				  <a href="javascript:void(0);">简介</a>
				  <a href="javascript:void(0);">服务理念</a>
				  <a href="javascript:void(0);">我们的主张</a>
				  <a href="javascript:void(0);">文化</a>
			  </div>
		  </div>
		  <div class="foot_con">
			  <p class="title">服务</p>
			  <div class="footCon_list">
				  <a href="javascript:void(0);">简介</a>
				  <a href="javascript:void(0);">服务理念</a>
				  <a href="javascript:void(0);">我们的主张</a>
				  <a href="javascript:void(0);">文化</a>
			  </div>
		  </div>
		  <div class="foot_con">
			  <p class="title">新闻</p>
			  <div class="footCon_list">
				  <a href="javascript:void(0);">简介</a>
				  <a href="javascript:void(0);">服务理念</a>
				  <a href="javascript:void(0);">我们的主张</a>
				  <a href="javascript:void(0);">文化</a>
			  </div>
		  </div>
	  </div>
	  <div class="footList clearfix">
		<div class="foot_con join_con">
			<p class="title">加入</p>
			<div class="footCon_list">
				<a class="titleCon" href="javascript:void(0);">职位</a>
				<a href="javascript:void(0);">简介</a>
				<a href="javascript:void(0);">服务理念</a>
				<a href="javascript:void(0);">我们的主张</a>
				<a href="javascript:void(0);">文化</a>
			</div>
		</div>
		<div class="foot_con">
		  <p class="title">联系我们</p>
		  <div class="footCon_list">
			  <a class="qqLink" href="javascript:void(0);">在线QQ</a>
			  <a class="weiboLink" href="javascript:void(0);">新浪微博</a>
			  <a class="weixinLink" href="javascript:void(0);">微信关注</a>
		  </div>
		</div>
	  </div>
	</div>
	<div class="footer">
	<p>地址：北京市丰台区刘庄子119号18号楼202</p>
	<p>京ICP备14024474号 Copyright © NewBee Science & Technology (Beijing) Co., Ltd. 2014. All rights reserved</p>
	</div>
	<hr />
</div>
<!-- 底部区域END -->
