<div class='containerWrapper'>
  <div class='container'>
    <div class='imgWrapper'>
      <div class='slideBox'>
        <div class='hd'>
          <ul>
            <li>
              <div class='imgPage1'>
                <a href='javascript:void(0);'></a>
              </div>
            </li>
            <li>
              <div class='imgPage2'>
                <a href='javascript:void(0);'></a>
              </div>
            </li>
            <li>
              <div class='imgPage3'>
                <a href='javascript:void(0);'></a>
              </div>
            </li>
          </ul>
        </div>
        <div class='bd'>
          <ul>
            <li class='margin1'>
              <img height='418' src='images/p_1.jpg'>
            </li>
            <li class='margin2'>
              <img height='418' src='images/p_1.jpg'>
            </li>
            <li class='margin3'>
              <img height='418' src='images/p_1.jpg'>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='content'>
      <div class='adWrap'>
        <p>
          <span class='bigSpan'>新蜜蜂能为你做什么？</span>
          <span class='greenSpan'>咨询热线：18201620321 &nbsp; 18612513540</span>
        </p>
        <p class='ad'></p>
      </div>
    </div>
  </div>
</div>
