<!-- 内容区域 -->
<div class="containerWrapper">
	<div class="container">
		<div class="imgWrapper">
			<div class="imgWrap">
				<!-- 图片轮播效果 -->
				<div class="slideBox">
					<div class="hd">
						<ul>
							<li>
								<div class="imgPage1"><a href="javascript:void(0);"></a></div>
							</li>
							<li><div class="imgPage2"><a href="javascript:void(0);"></a></div></li>
							<li><div class="imgPage3"><a href="javascript:void(0);"></a></div></li>
							<li><div class="imgPage4"><a href="javascript:void(0);"></a></div></li>
						</ul>
					</div>
					<div class="bd">
					   <ul>
						<li class="margin1"><img src="images/p_1.jpg" height="418" /></li>
						<li class="margin1"><img src="images/p_2.jpg" height="418" /></li>
						<li class="margin1"><img src="images/p_3.jpg" height="418" /></li>
						<li class="margin1"><img src="images/p_4.jpg" height="418" /></li>
					   </ul>
					</div> 
				</div>
				<!-- 图片轮播效果END -->
			</div>
		</div>
		<!---->
		<div class="content">
			<div class="adWrap">
			  <p>
				  <span class="bigSpan">新蜜蜂能为您做什么？</span>
				  <span class="greenSpan">咨询热线： 18201620321&nbsp;&nbsp;18612513540&nbsp;&nbsp;13716806004</span>
			  </p>
			  <p class="ad"></p>
			</div>
		</div>
		<!--END-->
		<!---->
		<div class="content clearfix">
			<div class="flowWrap current">
				<div class="title">策划</div>
				<p>前期分析</p>
				<p>可用性研究</p>
				<p>制作方案</p>
				<p>维护方案</p>
			</div>
			<div class="flowWrap">
				<div class="title">设计</div>
				<p>网站设计</p>
				<p>LOGO设计</p>
				<p>包装画册设计</p>
				<p>海报设计</p>
			</div>
			<div class="flowWrap">
				<div class="title">开发</div>
				<p>网站开发</p>
				<p>移动开发</p>
				<p>3D开发</p>
				<p>终端开发</p>
			</div>
			<div class="flowWrap">
				<div class="title">维护</div>
				<p>设计维护</p>
				<p>程序维护</p>
				<p>服务器维护</p>
				<p>其他维护</p>
			</div>
			<div class="flowWrap">
				<div class="title">营销</div>
				<p>市场营销</p>
				<p>网络营销</p>
				<p>综合营销</p>
				<p>SEO优化</p>
			</div>
		</div>
		<!--END-->
