<!doctype html>
<html ng-app>
	<head>
		<script src="../angular.js" ></script>
	</head>
	<body>
		<div>
			<ul ng-controller="studentList">
				<li ng-repeat="student in students">
					<a href='http://www.baidu.com/s?word={{student.name}}'>{{student.id}}</a>
					<button ng-click='delete($index)'>delete</button>
					<input type="text" ng-model="student.name" />
				</li>
			<ul>
		</div>
	</body>
</html>
<script>
	var students = (function(){
		var arr=[];
		for(var i=0;i<10;i++){
			var st = {'name':i+"mugeda",'id':i};	
			arr.push(st);
		}
		return arr;
	})();
	function studentList($scope){
		$scope.students=students;
		$scope.delete=function(index){
			$scope.students.splice(index,1);	
			console.log($scope.students);
		}
	}
</script>
